{% extends 'memorandum/base.html' %}
{% load static %}
<body>
    {% block body %}
    <div class="content-wrapper text-center">
        
        <address class="mb-4 tm-color-gray h4">
           Para cualquier información duda o error de funcionalidad comunicarse con el soporte técnico a traves de el siguiente correo
        </address>
      
        <span class="mb-4 d-block h5">
            Email:
            <a href="mailto:Contact@godjango.dev" class="tm-color-gray">Contact@godjango.dev</a>
        </span>
    

    </div>
    {% endblock %}   
</body>
</html>
